html{
  scroll-behavior: smooth;
}
body {
  background-color: #5e503f;
  color: #eae0d5;
  font-family: 'Playfair Display', serif;
  font-size: larger;
}

h2 {
  color: #0a0908;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}


.full-page {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.center {
background-color: #70604c;
max-width: 700px;
margin: auto;
padding: 1rem;
transition: all 0.3s ease;
border-radius: 8px;
}

:hover{
  box-shadow: 0 0 15px rgba(167, 199, 231, 0.3);
}


#education{
   
    margin: auto;
    padding:1em;

}

h1 {
margin-bottom: 0.3rem;
font-weight: 600;

}


nav a {
margin: 0 10px;
color: #0a0908;
text-decoration: none;
font-weight: 500;
}


nav a:hover {
text-decoration: underline;
}


.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 10%;
  border-bottom: 1px solid #1e2533;
}


ul {
list-style-type: circle;
margin-left: 1.5rem;
text-align: left;
}



.project {
  background-color: #70604c;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 0;
  transition: all 0.3s ease;
}

.project:hover {
  box-shadow: 0 0 15px rgba(167, 199, 231, 0.3);
}

footer {
text-align: center;
font-size: 0.9rem;
padding: 1.5rem;
background: #e3d8f1;
color: #2b2b2b;
}